[build]
builder = "nixpacks"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["...", "bun"]

[build.nixpacksPlan.phases.install]
cmds = ["bun install"]

[deploy]
startCommand = "bun run src/index.ts"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
