[build]
builder = "nixpacks"

[build.nixpacksPlan.phases.setup]
nixPkgs = ["...", "bun"]

[build.nixpacksPlan.phases.install]
cmds = ["bun install"]

[build.nixpacksPlan.phases.build]
cmds = ["bun run server:build"]

[deploy]
startCommand = "bun run apps/server/src/index.ts"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
